<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>474464835254-kivn26hqkgettqfdnkg2n4vab9gmukk1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474464835254-kivn26hqkgettqfdnkg2n4vab9gmukk1</string>
	<key>API_KEY</key>
	<string>AIzaSyATtgI8gxYayrYe90sAayaT7V8Egutbyyk</string>
	<key>GCM_SENDER_ID</key>
	<string>474464835254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.edriveapp</string>
	<key>PROJECT_ID</key>
	<string>mobile-data-plans-43a92</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-data-plans-43a92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474464835254:ios:662db6c24c0618fd6cb817</string>
</dict>
</plist>